@page "/rendermodedemos"
@using Microsoft.AspNetCore.Components

<div class="d-flex flex-column">

    @if(ExecutionEnvironment.DeploymentPlatform == DeploymentPlatform.Desktop)
    {
        <h4 class="text-muted">The desktop platform does not support built-in render modes.</h4>
    } else
    {
        <h1>Demonstrating built-in @("@rendermode")  attributes:</h1>
        <p>
            RenderModes that would lead to runtime exceptions are highlighted in red.
        </p>
        <RenderModeDemo RenderModes="@_noop" IllegalRenderModes="[]" Name="NoOp" />
        @foreach(var (name, renderMode, renderModes, illegalRenderModes) in _items)
        {
            <RenderModeDemo @rendermode="@renderMode"
                            Name="@name"
                            RenderModes="@renderModes"
                            IllegalRenderModes="illegalRenderModes" />
        }
    }
</div>

@code {
    [Injected]
    public required IExecutionEnvironment ExecutionEnvironment { get; set; }

    private static String _null = "null";
    private static String _auto = nameof(RenderMode.InteractiveAuto);
    private static String _server = nameof(RenderMode.InteractiveServer);
    private static String _wasm = nameof(RenderMode.InteractiveWebAssembly);

    private static String[] _noop = [_null, _auto, _server, _wasm];

    private static (string, IComponentRenderMode?, String[], String[])[] _items =
        [
            ("null", null, [_null, _auto, _server, _wasm], []),
    ("RenderMode.InteractiveAuto", RenderMode.InteractiveAuto, [_null, _auto,_wasm], [_server]),
    ("RenderMode.InteractiveServer", RenderMode.InteractiveServer, [_null, _auto,_server], [_wasm]),
    ("RenderMode.InteractiveWebAssembly", RenderMode.InteractiveWebAssembly, [_null, _auto,_wasm],[_server])
        ];
}